<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.robovm.eclipse.IOSSimulatorLaunchConfigurationType">
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="duoTwighlight-robovm"/>
<stringAttribute key="org.robovm.eclipse.IOS_SIM_FAMILY" value="iPhoneRetina4Inch"/>
</launchConfiguration>
